<launch>

	<!-- Launches stepper drivers -->
	<include file="$(find gpr20_msgs)/launch/stepper_drivers.launch" />

	<!-- Launches control node -->
	<node name="gpr20_control_node" pkg="gpr20_control" type="control_node" output="screen" />

	<!-- Launches requiered nodes for GPR-20 robot -->
	<node name="raspi_ui_node" pkg="gpr20_raspi_ui" type="raspi_ui_node" output="screen"/>

</launch>
