<launch>
	
    <!-- Launches driver for X axis (linear) -->
	   <node name="gpr20_x_axis" pkg="gpr20_axis" type="axis_node" output="screen">
        <param name="dir_pin" type="int" value="13" />
        <param name="step_pin" type="int" value="15" />
        <param name="sensor_pin" type="int" value="7" />
        <param name="step_size" type="double" value="0.01" />
        <param name="min_axis_limit" type="double" value="0" />
        <param name="max_axis_limit" type="double" value="800" />
        <param name="min_step_size" type="double" value="0.0005"/>
        <param name="max_step_size" type="double" value="0.005" />
        <param name="delta_step_size" type="double" value="0.00005"/>
    </node>

	<!-- Launches driver for Y axis (linear) -->
	<node name="gpr20_y_axis" pkg="gpr20_axis" type="axis_node" output="screen">
        <param name="dir_pin" type="int" value="16" />
        <param name="step_pin" type="int" value="18" />
        <param name="sensor_pin" type="int" value="11" />
        <param name="step_size" type="double" value="0.01" />
        <param name="min_axis_limit" type="double" value="0" />
        <param name="max_axis_limit" type="double" value="700" />
        <param name="min_step_size" type="double" value="0.001"/>
        <param name="max_step_size" type="double" value="0.005" />
        <param name="delta_step_size" type="double" value="0.00005"/>
    </node>

	<!-- Launches driver for Z axis (rotational) -->


</launch>
